/*No Color styling included in this style sheet*/

/* GENERAL STYLING */
body {
    overflow: hidden;
    /* Prevent main html page from scrolling */
}

h1,
h2,
h3 {
    font-family: "Lobster Two", "Georgia", serif;
    font-weight: 700;
    font-style: italic;
    
    padding-top: 0px;
    margin-top: 0px;
}



/* SCROLLBARS (Change appearance and color of the scrollbars)*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    
}

::-webkit-scrollbar-thumb {
}

::-webkit-scrollbar-thumb:hover {
    width: 2px;
    border-radius: 0px;
}




/* TIMELINE TABLE DIV CONTAINER and THE DETAILS DIV CONTAINER STYLING */
#details,
.timelineTableContainer {
    margin: 1rem auto;
    -moz-user-select: none;
    user-select: none;
}

/* Timeline Table DIV*/
.timelineTableContainer {
    overflow: auto;
    min-height: 50%;
    width: 100%;
    margin: 10px auto;
    height: 57.5%;
}

/* Details DIV */
#details {
    overflow: auto;
    bottom: 0px;
    width: 100%;
    margin: 10px auto;
}

/* Individual Content/Details DIV */
#details div {
    display: none;
    /* Hides all details by default. Only the called detail appears in the #DETAILS DIV. */
    padding: 10px 10px 50px 10px;
}


/* LINKS */
/* With a change to the jquery code, I no longer needed these links.
To use <a> and make the whold <td> clickable, remove the padding on the cells

td a {
    display: block;
    color: #000;
    text-decoration: none;  
    text-align:center;
    padding: 20px 20px;
    height: 100%;
    
}

a:hover {
    background-color: #555;
    color: white;
}

*/




/* TIMELINE TABLE STYLING */

.timelineTable {
    width: 100%;
    height: 100%;
}

.timelineTable th {
}

.timelineTable tr {
    text-align: left;
    vertical-align: middle;
    height: auto;
}

.timelineTable td {
}

.mainT2 td {
}

.timelineTable th,
td {
    min-width: 80px;
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 1000;
    padding: 20px 20px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
}

.timelineTable th:hover,
td:hover {
    
    z-index: 100;
}
